<% content_for :custom_css do %>
  <link rel="stylesheet" type="text/css" href="/assets/recipes/index.css" media="screen" />
<% end %>
<h4>Recipes</h4>

<%= link_to 'New Recipe', new_recipe_path %>
<div id="recipes_div">
  <% @recipes.each do |recipe| %>
  <div class="recipe_div">
    <%= image_tag recipe.recipe_image %>
    <!-- <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </div>
<% end %>
</div>
