<h1>Editing <%= @ingredient.name %></h1>
<%= image_tag "http://localhost:5000/" + @ingredient.image.url %>
<%= render 'form' %>

<%= link_to 'Show', @ingredient %> |
<%= link_to 'Back', ingredients_path %>
