
<div id="main">
  <a id="logo" href="/">
    <img src="https://s3.amazonaws.com/FrecipeProduction/public/image/web/frecipename.png">
  </a>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <h2>Sign in</h2>
  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div id="remember_div"><%= f.check_box :remember_me %> Remember Me</div>
    <% end -%>

    <div><%= f.submit "Sign in" %></div>
  <% end %>
</div>

